.myMovies {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myMovies h1 {
    margin: 14px;
}

.myMovies span {
    font-size: 18px;
}

.myMovies ul{
    width: 720px;
}

.myMovies ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 14px;
}

.myMovies div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.myMovies div a{
    text-decoration: none;
    color: #116feb;
    margin-right: 14px;
}